body{
  background-color: #51EFC5;
}
.header{
  text-align: right;
  background-color: #04080A;
  color: orange;
}
.container{
  position: relative;
}
.text{
  float: left;
  position: absolute;
  bottom: 8px;
  right: 15px;
  font-style: italic;
  font-size: 20;
  color: orange;
}
.comp{
  width: 300;
  height: 250;
}
.me{
  float: left;
  width: 10%;
  height: 10%;
}
.task{
  color: steelblue;
}
h2{
  color: blue;
}
h1{

}
.edu{
  float: right;
}
.about{
  float: left;
  width: 50%;
  height: 50%;
}
.site1 img{
  float: left;
}
.site1 p{
  float: right;

}
.site2{
  float: right;

}
.sites img{
  width: 40%;
  height: 40%;
}


}
.nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;

}
.nav li {
  float: left;
  display: inline;
}

.nav li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  color: blue;
}

.nav ul li a:hover {

  color: white;
}
.header{
  text-align: center;
  font-family: cursive;
  font-weight: 300;
  font-stretch: ultra-condensed;
}
