body{
  background-color: #51EFC5;
}
.header{
  text-align: right;
  background-color: #04080A;
  color: orange;
}
.container{
  position: relative;
}
.text{
  float: left;
  position: absolute;
  bottom: 8px;
  right: 15px;
  font-style: italic;
  font-size: 20;
  color: orange;
}
.comp{
  width: 100%;
  height: 40%
}
.me{
  float: left;
  width: 10%;
  height: 10%;
}
.task{
  color: steelblue;
}
h2{
  color: blue;
}
h1{

}
.edu{
  float: right;
}
.about{
  float: left;
  width: 50%;
  height: 50%;
}
.List ol{
  float: right;
}
