body{
  background-color: 	#C0C0C0;
}
.header{
  text-align: right;
  background-color: #04080A;
  color: orange;
}
.container{
  position: relative;
}
.text{
  float: left;
  position: absolute;
  bottom: 8px;
  right: 15px;
  font-style: italic;
  font-size: 20;
  color: black;
}
.text img{
  float: left;
  height: 20%;
  width: 20%;
  border-radius: 50%;
}
.comp{
  height: 30%;
  width: 49.5%;
}
.comp1{
  height: 30%;
  width: 49.5%;
}

.me{
  float: left;
  width: 10%;
  height: 10%;
}
.task{
  color: steelblue;
}
h2{
  color: blue;
}

.edu{
  float: right;
}
.about{
  float: left;
  width: 50%;
  height: 50%;
}

.site1{
  float: left;

}
.site2{
  float: right;

}
.sites img{
  width: 40%;
  height: 40%;
}
em{
  color: red;
}
